.instituto {
  padding-top: 80px;
  padding-bottom: 80px;
}

.instituto h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.instituto p {
  margin-bottom: 24px;
}

.instituto-img {
  margin-bottom: 16px;
}

