.avaliacoes-bg {
  background: var(--color-p1);
  padding:60px;
  text-align: center;
}

.avaliacoes-bg h2 {
  margin-bottom: 40px;
}

.avaliacoes-card p {
    display: flex;
    text-align: left;
}

.avaliacoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
}

.avaliacoes-card {
   background: var(--color-s1);
   padding: 30px;
   border-radius: 5px;
   width: 400px;
}

.avaliacoes-conteudo {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;  
  align-items: center;
}

.avaliacoes-conteudo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px var(--color-p3);
}

.avaliacoes-itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.star-icons {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

@media (max-width: 1330px) {
   .avaliacoes {
    grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 900px) {
  .avaliacoes {
   grid-template-columns: 1fr;
  }

  @media (max-width: 500px) {
    .avaliacoes-bg {
     padding: 20px;
    }

    .avaliacoes-card {
      padding:15px ;
     }

    .avaliacoes-card {
      background: var(--color-s1);
      padding: 30px;
      border-radius: 5px;
      width: 260px;
    }
}
}