.avaliacoes-bg {
  background: var(--color-p1);
  padding: 80px;
}

.avaliacoes {
  display: flex;
  gap: 30px;
  align-items: center;
}

.avaliacoes-card {
   background: var(--color-s1);
   padding: 30px;
   border-radius: 5px;
   width: 400px;
}

.avaliacoes-conteudo {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;  
  align-items: center;
}

.avaliacoes-conteudo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px var(--color-p3);
}

.avaliacoes-itens {
  display: flex;
  flex-direction: column;
}

.star-icons {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}