.card-bg{
  background: var(--color-0);
}

.card {
  padding-top: 60px;
  padding-bottom: 80px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-bg h2 {
  padding-top: 30px;
  text-align: center;
}

.card-itens {
    padding: 40px 30px;
    width: 260px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 10px;
    color: var(--color-4);
    background: var(--color-2);
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card-itens h3{
    margin-top: 5px;
    margin-bottom: 12px;
}


.card-itens:hover {
  cursor: pointer;
  background: var(--color-p1);
  color: var(--color-0);
  transform: translateY(-10px);
}

.card-itens:hover h3{
  color: var(--color-0);
}

.card-itens:hover p {
  color: var(--color-0);
}

/*reponsivo*/
@media (max-width: 800px) {
  .card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card-bg h1 {
    padding-top: 30px;
    text-align: center;
  }
}