.introducao-bg {
	background-image: linear-gradient(45deg, #34347d 0%, #3F3F97 100%);
}

.banner-01 {
  width: 100%;
  height: 600px;
  display: inline-block;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent 25%, black 100%);
  background-image: url(/img/img-02.jpg);
}   

.introducao-titulo {
  position: absolute;
  top: 200px;
}

.introducao-button {
  position: absolute;
  top: 550px;
}

.introducao-subtitle {
  position: absolute;
  top: 410px;
}
@media (max-width: 1200px) {

  .introducao-button {
    top: 500px;
  }
  
  .introducao-subtitle {
    top: 390px;
  }
}


@media (max-width: 800px) {

  .introducao-titulo {
    top: 235px;
  }

  .introducao-button {
    top: 500px;
  }
  
  .introducao-subtitle {
    top: 390px;
  }
}
